<script lang="ts">
	import polls from './polls.json' assert { type: 'json' };
	import parties from './parties.json' assert { type: 'json' };
	const total_seats = 150;
	let selectedPoll = Object.keys(polls)[0];

	const temp = [];
	for (const party of parties) {
		temp.push({ seats: 0, enabled: false, ...party });
	}
	temp.sort((a, b) => b.seats - a.seats);

	let combined = $state(temp);

	applyPoll();

	let seatsUsed = $derived(
		combined.map((p) => (p.enabled ? p.seats : 0)).reduce((a, b) => a + b, 0)
	);
	let seats_left = $derived(total_seats - seatsUsed);
    let seatsAssigned = $derived(combined.map((p) => p.seats).reduce((a, b) => a + b, 0));

	function sortParties() {
		combined.sort((a, b) => b.seats - a.seats);
		combined = combined;
	}

	function applyPoll() {
		let poll = polls[selectedPoll];
		for (const party of combined) {
			party.seats = poll[party.name] ?? 0;
		}
		sortParties();
		combined = combined;
	}

	function clear() {
		for (const party of combined) {
			party.enabled = false;
		}
		combined = combined;
	}
</script>

<div id="page">
	<h1>Formeren kan je leren ofzo</h1>

	<main>
		<div>
			<div id="controls">
				<button onclick={clear}>Clear</button>
				<button onclick={sortParties}>Sort Parties</button>
				<select bind:value={selectedPoll} on:change={applyPoll}>
					{#each Object.keys(polls) as key}
						<option value={key}>{key}</option>
					{/each}
				</select>
			</div>
			<div id="list">
				{#each combined as _, i}
                    <input type="color" bind:value={combined[i].color} />
					<input type="text" bind:value={combined[i].name} />
					<input type="number" bind:value={combined[i].seats} min="0" max="150" />
					<input type="checkbox" bind:checked={combined[i].enabled} />
				{/each}
                <div class="rule">
                <hr>
                </div>
                <div></div>
                <div></div>
                <div>{seatsAssigned}</div>
                <div></div>
			</div>
		</div>
		<div>
            <div id="count">
				{seatsUsed} / {total_seats}
			</div>
			<div id="seats">
				{#each combined as { name, seats, color, enabled }}
					{#if enabled}
						{#each Array(seats) as _}
							<div title={name} class="circle" style="background: {color}"></div>
						{/each}
					{/if}
				{/each}
				{#each Array(seats_left) as _}
					<div class="circle"></div>
				{/each}
			</div>
		</div>
	</main>
</div>

<style>
	#controls {
		margin-bottom: 1em;
	}
	#list {
		display: grid;
		grid-template-columns: 5em repeat(3, max-content);
        align-items: center;
        gap: 0 0.5em;
	}
    .rule {
        grid-column-start: 1;
        grid-column-end: 5;
    }
	#seats {
		display: grid;
		grid-template-columns: repeat(10, max-content);
		gap: 0.2em;
	}
	.circle {
		border-radius: 100%;
		width: 2em;
		height: 2em;
		background: #ccc;
	}
	.circle:nth-child(-n + 75) {
		background: #aaa;
	}
	.circle.full {
		background: #444;
	}

	#page {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	h1 {
		text-align: center;
	}

	main {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 2em;
	}

	input[type='checkbox'] {
		width: 2em;
		height: 2em;
	}
	input[type='color'],input[type='text'],input[type="number"] {
        border: none;
        padding: 0;
		height: 1.5em;
    }
    input[type="number"] {
        width: 10ch;
    }

    #count {
        font-size: 3em;
        text-align: right;
        font-weight: bold;
        margin-top: -1rem;
    }
</style>
